body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #CFD0CF;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font: bold 42px/47px Arial, sans-serif;
    color: #434344;
    margin: 40px 0;
}

main{
    display: -ms-grid;
    display: grid;
    grid-template-areas: "card1 card2 card3 card4"
                         "card5 card6 card7 card8"
                         "card9 card10 card11 card12"
                         "timer timer timer timer";
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    -webkit-perspective: 600px;
            perspective: 600px;
}

.card{
    position: relative;
    width: 130px;
    height: 130px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 600px;
            perspective: 600px;
}

.card_clicked{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.side{
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.front{
    background: -webkit-linear-gradient(bottom left, #22AB93, #19668D);
    background: linear-gradient(to top right, #22AB93, #19668D);
    border: 5px solid white;
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.back{
    background: white;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    border: 5px solid white;
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 75px;
}

.card_match{
    background: #5AD66F;
    border-color: #5AD66F;
}

.card_miss{
    background: #F44336;
    border-color: #F44336;
}

.timer{
    margin-top: 5px;
    justify-self: center;
    grid-area: timer;
    font: bold 32px/36px Arial, sans-serif;
    color: #434344;
}

.block{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.alert{
  display: none;
  width: 20%;
  min-width: 350px;
  background-color: white;
  padding: 30px 0;
  flex-flow: column;
  align-items: center;
}

.status{
  font: bold 48px Arial, sans-serif;
  color: #434344;
}

.replay{
  height: 40px;
  padding: 0 30px;
  border-radius: 9px;
  color: white;
  font: bold 20px Arial, sans-serif;
  background: linear-gradient(to right, #19668D, #22AB93);
  margin-top: 40px;
  border: 0;
  box-shadow: 1px 1px 1px grey;
  cursor: pointer;
}

.replay:active{
  box-shadow: inset 2px 1px 8px grey;
}

@keyframes bounce {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.6);
    }
    100% {
        transform: scaleY(1) translateY(0px);
    }
}

.status span {
  animation: bounce 2s ease-in-out infinite;
  display: inline-block;
}

